@model IEnumerable<MallRoof.Models.Mall>

@{
    ViewBag.Title = "Центры";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Торговые центры</h2>

<p class="text-center">
    @Html.ActionLink("Новый центр", "Create",null, new { @class = "btn btn-info" }) с помощью этой кнопки создайте Ваш центр с помещениями.
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.ActionLink("Добавить помещение к этому центру", "Create", "Premises", new { id = item.MallId }, new { @class = "btn btn-info" }) 
        </td>
    </tr>
}

</table>
