<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>bin\Release\Publish\MallRoof.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>mall.somee.com</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=mallroofmvc.mssql.somee.com;Initial Catalog=mallroofmvc;Persist Security Info=False;User ID=malltest;Password=testtest;Packet Size=4096;Workstation ID=mallroofmvc.mssql.somee.com" Name="workstation id=mallroofmvc.mssql.somee.com;packet size=4096;user id=malltest;pwd=testtest;data source=mallroofmvc.mssql.somee.com;persist security info=False;initial catalog=mallroofmvc" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MallRoof.Models.ApplicationDbContext, MallRoof" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MallRoofConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=mallroofmvc.mssql.somee.com;Initial Catalog=mallroofmvc;Persist Security Info=False;User ID=malltest;Password=testtest;Packet Size=4096;Workstation ID=mallroofmvc.mssql.somee.com" Name="workstation id=mallroofmvc.mssql.somee.com;packet size=4096;user id=malltest;pwd=testtest;data source=mallroofmvc.mssql.somee.com;persist security info=False;initial catalog=mallroofmvc" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MallRoof.DAL.MallContext, MallRoof" MigrationConfiguration="MallRoof.Migrations.Configuration, MallRoof" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MallRoofConnection-Web.config Connection String">
      <ParameterValue>workstation id=mallroofmvc.mssql.somee.com;packet size=4096;user id=malltest;pwd=testtest;data source=mallroofmvc.mssql.somee.com;persist security info=False;initial catalog=mallroofmvc</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>workstation id=mallroofmvc.mssql.somee.com;packet size=4096;user id=malltest;pwd=testtest;data source=mallroofmvc.mssql.somee.com;persist security info=False;initial catalog=mallroofmvc</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>