MallRoof/bin/Mail.dll
MallRoof/bin/Mail.xml
MallRoof/bin/Microsoft.Exchange.WebServices.Auth.dll
MallRoof/bin/Microsoft.Exchange.WebServices.Auth.pdb
MallRoof/bin/Microsoft.Exchange.WebServices.Auth.xml
MallRoof/bin/Microsoft.Exchange.WebServices.dll
MallRoof/bin/Microsoft.Exchange.WebServices.pdb
MallRoof/bin/Microsoft.Exchange.WebServices.xml
MallRoof/bin/OAuth2.dll
MallRoof/bin/Owin.Security.Providers.ArcGISOnline.dll
MallRoof/bin/Owin.Security.Providers.ArcGISPortal.dll
MallRoof/bin/Owin.Security.Providers.Asana.dll
MallRoof/bin/Owin.Security.Providers.Backlog.dll
MallRoof/bin/
MallRoof/obj/Debug/
MallRoof/obj/Release/
MallRoof/Files/
MallRoof/PremiseImages1/
packages/evernote-cloud-sdk-windows.1.0.8/lib/net40/Thrift.dll
packages/
