@{
    ViewBag.Title = "О проекте";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<p>
    Проект является бесплатной площадкой для торговых центров и соискателй, с помощью которой центры могут:
</p>
<ul>
    <li>вести реестр, учет своих помещений</li>
    <li>размещать детальную информацию о центре</li>
    <li>размещать актуальную информацию о помещениях для соискателей</li>
    <li>публиковать фотографии центра и помещений</li>
    <li>отправлять ценовые предложения соискателям</li>
</ul>
<p>
    Соискатели помещений могут:
</p>
<ul>
    <li>создавать ценовые запросы для подходящего помещения</li>
    <li>вести поиск подходящих помещений</li>    
</ul>
Инструкции по работе с сайтом указаны @Html.ActionLink("здесь", "Instruction", "Home").



