@{
    ViewBag.Title = "О проекте";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<p>
    Проект является бесплатной площадкой для бизнес и торговых центров, с помощью которой можно:
</p>
<ul>
    <li>вести реестр, учет своих помещений</li>
    <li>размещать детальную информацию о центре</li>
    <li>размещать актуальную информацию о помещениях для соискателей</li>
    <li>публиковать фотографии центра и помещений</li>
</ul>

Инструкции по работе с сайтом указаны @Html.ActionLink("здесь", "Instruction", "Home").



