
@{
    ViewBag.Title = "InstagramEmbedInstruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Инстркуции вставки поста из Инстаграмм</h2>
Если у вас есть фотографии опубликованные в социальной сети Instagram, то у Вас есть возможность
вставить их в ваше объявление. 
<br />
Делается это следующим образом.
<br />
1) Вы заходите в инстаграм на компьютере, открываете ваш пост с фотографиями и нажимаете кнопку с тремя точками. Посмотрите рисунок ниже.
<br />
<img src="~/Images/EmbedInstagram.png" class="img-responsive center-block"/>
<br />
2) После этого у вас появится кнопка "Вставить". Нажмите кнопку "Вставить". Это видно на рисунке выше.
<br />
3) После чего Instagram вам предоставит вам Код который нужно будет скопировать. Это можно сделать нажав кнопку "Скопировать код для вставки". Смотрите рисунок ниже.
<br />
<img src="~/Images/EmbedInstagram2.png" class="img-responsive center-block"/>
<br />
4) После чего в форме создания или редактирования объявления о помещении вам нужно будет вставку этого года в поле "Фотография с инстаграмма". Смотрите рисунок ниже.
<br />
<img src="~/Images/EmbedInstagram3.png" class="img-responsive center-block" />
